<div class="container">
    <h1>Cats</h1>

    <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" alt="cat">

    <ul>
        <li>Cats are believed to be the only mammals who don’t taste sweetness.</li>
        <li>Cats are nearsighted, but their peripheral vision and night vision are much better than that of humans.</li>
        <li>Cats are supposed to have 18 toes (five toes on each front paw; four toes on each back paw).</li>
        <li>Cats can jump up to six times their length.</li>
        <li>Cats’ claws all curve downward, which means that they can’t climb down trees head-first. Instead, they have to back down the trunk.</li>
        <li>Cats’ collarbones don’t connect to their other bones, as these bones are buried in their shoulder muscles.</li>
        <li>Cats have 230 bones, while humans only have 206.</li>
        <li>This is a new list item</li>
    </ul>

    <span><em>Source: https://cvillecatcare.com/veterinary-topics/101-amazing-cat-facts-fun-trivia-about-your-feline-friend/</em></span>

</div>
